body {
    font-family: 'Arial', sans-serif;
    background-color: khaki;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    
}

.calculator {
    background-color: lightcyan;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border: black 5px double;

}

#display {
    width: 400px;
    height: 50px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: right;
    padding: 10px;
    border: none;
    color: darkgreen;
    background-color: #f1f1f1;
    border-radius: 5px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border: black 5px double;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
   
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color:lightblue;
    cursor: pointer;
    transition: background-color 0.3s;

}

button:hover {
    background-color: gold;
}

.equal {
    grid-column: span 2;
    background-color: #4CAF50;
    color: black;
}

.zero {
    grid-column: span 2;
}
